body {
	font-size: 16px;
	color: #fff;
	background-color: #c9a5af;
	font-family: 
}

#header-nav {
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
 	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #5c5557;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

#menu {
	font-family: 'Lora', serif;
	color:;
	font-size: 1.5cm;
	font-weight: bold;
	text-shadow: 1px 1px 1px #0000
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle:focus {
	outline: block;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.row {
	margin-bottom: 15px;

}
.row > div {
	border: 2px ##0a0a0a;
	background-color: #4f4e4d;
	height: 850px;
	border-color: #fff

}

#chicken {
	font-family: 'Lora', serif;
	color:;
	font-size: 1.0cm;
	text-shadow: 1px 1px 1px #0000
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;


}

#beef {
	font-family: 'Lora', serif;
	color:;
	font-size: 1.0cm;
	text-shadow: 1px 1px 1px #0000
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;	

}

#pork {
	font-family: 'Lora', serif;
	color:;
	font-size: 1.0cm;
	text-shadow: 1px 1px 1px #0000
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}






